asgiref==3.3.4
Django==3.2.3
pytz==2021.1
sqlparse==0.4.1
djangorestframework==3.11.0
python-dotenv==0.14.0
django-cors-headers==3.4.0
django-redis==4.12.1
django-filter==2.3.0
drf-yasg==1.17.1
psycopg2-binary==2.8.5
python-dateutil==2.8.1
pyjwt==1.7.1
autopep8==1.5.4
flake8==3.8.4
